@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* LEFT */
.phone-section img {
  height: 600px;
}

/* RIGHT */
.form-section {
  margin-left: 40px;
}

.login-box {
  width: 350px;
  background: #fff;
  border: 1px solid #dbdbdb;
  padding: 40px;
  text-align: center;
}

.logo {
  font-family: "Grand Hotel", cursive;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.login-btn {
  width: 100%;
  padding: 8px;
  background-color: #4cb5f9;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}


.login-btn:hover {
  opacity: 0.9;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #dbdbdb;
}

.divider p {
  margin: 0 15px;
  font-size: 12px;
  color: gray;
  font-weight: bold;
}

.fb-login {
  color: #385185;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.fb-icon {
  background-color: #385185;
  color: white;
  font-weight: normal;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.forgot {
  font-size: 12px;
  color: #00376b;
  cursor: pointer;
}

.signup-box {
  width: 350px;
  border: 1px solid #dbdbdb;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  background: #fff;
}

.signup-box span {
  color: #0095f6;
  font-weight: bold;
  cursor: pointer;
}

.apps {
  text-align: center;
  margin-top: 20px;
}

.store-buttons img {
  background-color: transparent;
  height: 40px;
  margin: 5px;
}

/* RESPONSIVE */
@media (max-width: 875px) {
  .phone-section {
    display: none;
  }
}
@media (max-width: 400px) {
  .form-section {
    margin-left: 0;
  }
  .login-box, .signup-box {
    width: 90%;
  }
}
.s.signup-box {
  width: 100%;
  max-width: 450px;
  background: #1c1c1c; /* matches dark mode */
  border: 1px solid #363636;
  padding: 18px;
  margin-top: 12px;
  text-align: center;

  /* FIX text size */
  font-size: 15px;
  color: #ffffff;
}


.signup-box span {
  color: #0095f6;
  font-weight: 700;
  font-size: 15px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 875px) {
  .phone-section {
    display: none;
  }

  .main-container {
    justify-content: center;
  }

  .form-section {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .login-box,
  .signup-box {
    width: 90%;
  }

  .logo {
    font-size: 36px;
  }
}
.footer {
  text-align: center;
  font-size: 12px;
  color: gray;
  margin-top: 40px;
}
